*, *::after, *::before{
	box-sizing: border-box;
}

/*----navbar tutorial from https://www.youtube.com/watch?v=PwWHL3RyQgk-----*/
#main-nav{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-wrap: -webkit-flex;
	flex-wrap: -ms-flex;
	flex-wrap: wrap;

	justify-content: space-between;
	align-items: center;
}

.nav-icon-container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	justify-content: flex-end;
}

.nav-hamburger{
	display: none;
}

.nav-logo{
	max-width: 10rem;
	flex: 1 1 auto;
}

.nav-page{
	flex: 10 1 auto;
}

nav li{
	display: inline-block;
	padding: 0 1rem;
}

.nav-icon{
	margin-left: 2rem;
	max-width: 1.5rem;
}

/*----------------------------page heading-----------------------------*/
.page-heading-order-success{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-wrap: -webkit-flex;
	flex-wrap: -ms-flex;
	flex-wrap: wrap;

	align-items: baseline;
	justify-content: space-between;
}

.page-heading-order-success h3{
	flex: 20 0 auto;
}

/*----------------------------product listing-----------------------------*/
.product-listing-container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-wrap: -webkit-flex;
	flex-wrap: -ms-flex;
	flex-wrap: wrap;

	justify-content: space-around;

	margin: 0 10%;
}

.product-post{
	flex: 1 1 20%;
	max-width: 16rem;
}

/*-----------------------------tea type------------------------------*/
.tea-type-post{
	flex: 1 1 20%;
	max-width: 16rem;
}

/*--------------------------product listing page-------------------------*/
.tea-page-container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	justify-content: space-around;
}

#filter{
	display: inline-block;
	flex: 1 0 20%;
	min-width: 10rem;
}

#tea-list{
	display: inline-block;
	flex: 9 0 80%;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-wrap: -webkit-flex;
	flex-wrap: -ms-flex;
	flex-wrap: wrap;

	justify-content: space-around;
	padding: 0 5rem 0 1rem;

	position: relative;
}

#tea-list .product-post{
	flex: 0 1 25%;
	max-width: 16rem;
}

/*--------------------------contact + shipping + billing + cart-------------------------*/
#contact-us, #shipping, #billing, #my-cart{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	justify-content: flex-start;

	padding: 0 10%;
}

#contact-us form, #shipping form, #billing form, .cart-product-list{
	flex: 2 1 75%;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-wrap: -webkit-flex;
	flex-wrap: -ms-flex;
	flex-wrap: wrap;

	justify-content: space-between;
	padding: 0 2rem 0 0;
}

.customer-service{
	flex: 1 1 25%;
}

/*----------------------------form------------------------------*/
.form-entries-s{
	flex: 1 1 33%;
}

.form-entries-m{
	flex: 1 1 66%;
}

.form-entries-l{
	width: 100%;
}

/*----------------------------cart------------------------------*/
.cart-product, .cart-category, .cart-total{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	justify-content: flex-end;
	width: 100%;
}

.cart-product{
	align-items: center;
}

.cart-category, .cart-total{
	align-items: flex-start;
}

.cart-product img{
	width: 10rem;
}

.cart-product-col{
	flex: 20 0 30%;
}

.cart-quantity-col{
	flex: 0 0 auto;
}

.cart-price-col{
	flex: 0 1 20%;
	text-align: right;
}

/*--------------------------summary--------------------------*/
.summary{
	flex: 1 1 25%;
}

.summary-content{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	justify-content: space-between;

	padding: 1rem 0;
}

/*----------------------------review----------------------------*/
.review-post-top{
	display: flex;
	align-items: baseline;
}

.review-name{
	flex: 1 1 auto;
}

.review-purchase{
	flex: 20 1 auto;
}

.review-time{
	flex: 1 1 auto;
}

@media (max-width: 80em){
	/*----------------------product listing-----------------------*/
	.product-type{
		font-size: 0.8rem;
	}

	.product-name{
		font-size: 1.2rem;
	}

	.product-rating p{
		font-size: 0.8rem;
	}

	.product-rating{
		margin: 0.5rem 0 0 0;
	}

	.product-price{
		font-size: 0.8rem;
	}
}

@media (max-width: 75em){
	/*-----------------------event banner-----------------------*/
	.event-banner-content h1{
		font-size: 3rem;
	}

	.event-banner-content li{
	    font-size: 1rem;
	}

	/*---------------------about page-----------------------*/
	.about-section-1{
		top: 25%;
		left: 30%;
	}

	.about-section-2{
		top: 25%;
		left: 10%;
	}

	.about-section-3{
		top: 20%;
		right: 10%;
	}
}

@media (max-width: 65em){
	/*----------------------tea page banner-----------------------*/
	.tea-page-banner-content{
		bottom: 15%;
	}

	/*----------------------product listing page------------------*/
	#tea-list{
		padding: 0 3rem 0 0.5rem;
	}

	#tea-list .product-post{
		flex: 0 1 33%;
	}

	#filter{
		padding: 0 0.5rem 0 3rem;
	}

	/*--------------------------page heading-------------------------*/
	#page-heading{
		padding-top: 2rem;
		margin-bottom: 3rem;
	}

	/*--------------------------contact + shipping + billing + cart-------------------------*/
	#contact-us, #shipping, #billing, #my-cart{
		flex-wrap: -webkit-flex;
		flex-wrap: -ms-flex;
		flex-wrap: wrap;
	}

	#contact-us form, #shipping form, #billing form, .cart-product-list{
		padding-right: 0;
	}

	/*--------------------------contact-------------------------*/
	.customer-service{
		margin-bottom: 2rem;
		padding: 1rem 0 0 0.5rem;
		order: -1;
		border-left: none;
		border-top: 0.5px solid rgb(200, 200, 200);
		border-bottom: 0.5px solid rgb(200, 200, 200);
	}

	.customer-service h2{
		display: none;
	}

	.contact-info li{
		display: inline-block;
	}

	.contact-info li:first-of-type{
		padding-right: 1rem; 
	}

	/*---------------------about page-----------------------*/
	.about-section-1{
		top: 15%;
		left: 30%;
	}

	.about-section-2{
		top: 15%;
		left: 10%;
	}

	.about-section-3{
		top: 10%;
		right: 10%;
	}

	/*--------------------------summary-------------------------*/
	.summary{
		padding: 5rem 0 0 0;
		border-left: none;
	}
}

@media (max-width: 60em){
	/*-----------------------event banner-----------------------*/
	.event-banner-content h1{
		font-size: 2.5rem;
		margin: 0 0 0.8rem 0;
	}

	.event-banner-content ul{
		margin: 0 0 1.5rem 0;
	}

	.event-banner-content li{
	    display: block;
	}

	/*----------------------product listing-----------------------*/
	.product-post{
		flex: 0 1 50%;
	}

	/*----------------------tea type-----------------------*/
	.tea-type-post{
		flex: 0 1 50%;
	}
}

@media (max-width: 55em){
	/*----------------------tea page banner-----------------------*/
	.tea-page-banner-content li{
		display: block;
	}

	/*----------------------product listing page------------------*/
	#tea-list .product-post{
		flex: 0 1 50%;
	}

	/*---------------------------filter-------------------------*/
	#filter h3, #filter a{
		font-size: 0.8rem;
	}
}

@media (max-width: 50em){
	/*---------------------about page-----------------------*/
	.about-content h1{
		font-size: 1.5rem;
	}

	.about-content h2{
		font-size: 1rem;
		font-weight: 400;
	}

	.about-content p{
		font-size: 0.8rem;
		max-width: 20rem;
	}

	.about-banner{
		margin-bottom: 2rem;
	}

	.about-section-1{
		top: 20%;
		left: 30%;
	}

	.about-section-2{
		top: 20%;
		left: 10%;
	}

	.about-section-3{
		top: 15%;
		right: 10%;
	}

	/*---------------------page heading-----------------------*/
	.page-heading-order-success{
		flex-direction: column;
		align-items: center;
	}

	.page-heading-order-success h1{
		padding: 0;
	}
}


@media (max-width: 40em){
	/*-----------------------main nav-----------------------*/
	.nav-container{
		padding: 0.5rem 2rem;
	}

	.nav-hamburger{
		display: inline-block;
		flex: 1 1 auto;
	}

	.nav-page{
		display: none;
	}

	/*-----------------------event banner-----------------------*/
	.event-banner-content h1{
		font-size: 2rem;
	}

	.event-banner-content h3{
		font-size: 0.8rem;
	}

	.button-cta {
		font-size: 0.8rem;
	}

	/*----------------------product listing-----------------------*/
	.product-post{
		margin-bottom: 1.5rem;
	}

	.product-rating{
		display: flex;
		align-items: center;
	}

	.product-rating p{
		padding: 0.1rem 0 0 0.2rem;
	}

	/*----------------------tea type-----------------------*/
	.tea-type-post{
		margin-bottom: 0rem;
	}

	/*----------------------product listing page------------------*/
	#tea-list{
		padding: 0 1rem;
	}

	/*----------------------filter-------------------*/
	#filter:target{
		width: 16rem;
		padding: 4rem 2rem;
	}

	#filter{
		height: 100%;
		width: 0;
		max-width: none;
		min-width: 0;
		position: fixed;
		z-index: 30;
		top: 0;
		left: 0;
		padding: 4rem 0rem;
		background-color: rgb(222, 207, 184);
		overflow-x: hidden;
		white-space: nowrap;
		transition: all 0.3s ease;
	}

	.filter-close, .filter-btn{
		display: block;
	}

	#filter h3{
		color: rgb(143, 107, 83);
		font-size: 1rem;
	}

	#filter a{
		color: rgb(61, 61, 61);
		font-size: 1rem;
	}

	/*--------------------------contact-------------------------*/
	#contact-us button{
		width: 100%;
	}

	/*--------------------------about page-------------------------*/
	.about-section-1{
		top: 15%;
		left: 25%;
	}

	.about-section-2{
		top: 15%;
		left: 10%;
	}

	.about-section-3{
		top: 5%;
		right: 10%;
	}

	/*---------------------------form-------------------------*/
	.form-entries-s, .form-entries-m{
		flex: 0 0 100%
	}

	.form-entries-s, .form-entries-m, .form-entries-l{
		padding-right: 0;
	}

	.return-btn{
		order: 20;
		margin: 0.5rem 0 0 35%;
	}

	.submit-btn{
		width: 100%;
	}

	input[type=number]{
		width: 4.5rem;
		padding: 0.3rem 0;
		font-size: 0.8rem;
	}

	/*---------------------------cart-------------------------*/
	.cart-product-list h2{
		font-size: 1.2rem;
	}

	.cart-product-list h3, .cart-product-list p{
		font-size: 0.8rem;
	}

	.cart-product-list img{
		width: 8rem;
	}	
}

@media (max-width: 35em){
	/*-----------------------event banner-----------------------*/
	.event-banner-content{
		top: 10%;
	}

	.event-banner-content h1{
		font-size: 1.5rem;
	}

	.event-banner-content li{
	    font-size: 0.8rem;
	}

	/*--------------------------about page-------------------------*/
	.about-section-1, .about-section-2, .about-section-3{
		top: 20%;
		left: 20%;
	}

	/*---------------------------cart-------------------------*/
	.cart-product{
		flex-wrap: -webkit-flex;
		flex-wrap: -ms-flex;
		flex-wrap: wrap;
	}

	.cart-category .cart-quantity-col, .cart-category .cart-price-col, .cart-product-quantity, .cart-product-price{
		display: none;
	}

	.cart-mobile{
		display: inline-block;
	}

	.cart-product img{
		width: 10rem;
	}

	.cart-product-list .return-btn{
		margin: 0.5rem 0 0 30%;
	}

	.cart-mobile input[type=number]{
		margin: 0.5rem 2rem 0 0;
	}

	.cart-mobile form, .cart-mobile h2{
		display: inline-block;
	}
}

@media (max-width: 30em){
	h2{
		font-size: 1.2rem;
		font-weight: 400;
	}

	/*-----------------------main nav-----------------------*/
	#main-nav{
		padding: 0 1rem;
	}

	/*-----------------------main nav-----------------------*/
	.footer{
		padding: 1rem;
	}

	/*-----------------------event banner-----------------------*/
	.event-banner-content{
		left: 7%;
		top: 7%;
	}

	.event-banner-content h1{
		margin: 0 0 0.3rem 0;
	}

	.event-banner-content h3{
		margin: 0 0 0.3rem 0;
	}

	.event-banner-content ul{
		margin: 0 0 0.7rem 0;
	}

	.button-cta{
		padding: 0.3rem 1rem;
	}

	/*------------------------section title-----------------------*/
	.section-heading{
		margin: 0 7%;
	}

	.section-heading a{
		font-size: 0.8rem;
		top: 0.3rem;
	}

	/*----------------------product listing-----------------------*/
	.product-listing-container{
		margin: 0 7%;
	}

	.product-rating img{
		width: 0.8rem;
	}

	/*----------------------tea type-----------------------*/
	.tea-type-post h2{
		bottom: 1.5rem;
		left: 1.5rem;
	}

	/*----------------------tea page banner-----------------------*/
	.tea-page-banner-content{
		bottom: 5%;
	}

	.tea-page-banner-content h1{
		font-size: 1.5rem;
		margin: 0 0 0.5rem 0;
	}

	.tea-page-banner-content li{
		font-size: 0.8rem;
	}
}

@media (max-width: 28em) {
	/*--------------------------about page-------------------------*/
	.about-section-1, .about-section-2{
		top: 15%;
		left: 18%;
	}

	.about-section-3{
		top: 10%;
		left: 18%;
	}

	.about-content h1{
		max-width: 10rem;
	}

	.about-content p{
		max-width: 15rem;
		color: rgb(61, 61, 61);
	}

	/*---------------------------form-------------------------*/
	.return-btn{
		margin: 0.5rem 0 0 30%;
	}

	.submit-btn{
		min-width: 0;
	}

	/*---------------------------cart-------------------------*/
	.cart-mobile h2{
		padding-top: 0.5rem;
	}

	.cart-product-name{
		padding-left: 0.5rem;
	}

	.cart-product-list .return-btn{
		margin: 0.5rem 0 0 20%;
	}
}
