html{
	font-family: 'Open Sans', sans-serif;
}

header{
	margin: 0 0 4rem 0;
	border-bottom: 0.5px solid rgb(200, 200, 200);
}

.content{
	position: absolute;
	top: 4rem;
	left: 0;
	right: 0;
}

section{
	margin-bottom: 5rem;
}

/*------------------------------text------------------------------*/
h1, h2, h6{
	font-family: 'Raleway', sans-serif;
}

h1{
	font-size: 2rem;
	color: rgb(61, 61, 61);
}

h2{
	font-size: 1.5rem;
	font-weight: 300;
}

h3{
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

h4{
	font-size: 2rem;
	font-weight: 600;
}

h5{
	font-size: 1.5rem;
}

h6{
	font-size: 1rem;
}

p, ol, ul{
	font-size: 1rem;
	margin: 0;
}

/*------------------------------link------------------------------*/
a{
	color: rgb(143, 107, 83);
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

a:hover, a:active, a:focus{
	color: rgb(199, 168, 134);
}

/*------------------------------button using a------------------------------*/
.button-cta{
	background-color: white;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5rem 2rem;
	border: 0.5px solid rgb(143, 107, 83);
}

.button-cta:hover, .button-cta:active, .button-cta:focus{
	border: 0.5px solid rgb(199, 168, 134);
}

.return-btn{
	color: rgb(114, 114, 114);
	font-weight: 600;
	text-transform: uppercase;
	padding: 0.5rem;
}

.return-btn:hover, .return-btn:focus, .return-btn:active{
	color: rgb(169, 169, 169);
}

.submit-btn{
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	background-color: rgb(143, 107, 83);
	color: white;
	padding: 1rem 0;
	width: 50%;
}

.submit-btn:hover, .submit-btn:focus, .submit-btn:active{
	color: white;
	background-color: rgb(199, 168, 134);
}

/*------------------------------button------------------------------*/
button{
	border: none;
	font-weight: 600;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.button-submit{
	background-color: rgb(143, 107, 83);
	color: white;
	padding: 1rem 0;
	width: 50%;
}

.button-submit:hover, .button-submit:focus, .button-submit:active{
	background-color: rgb(199, 168, 134);
	outline-color: rgb(250, 185, 20);
}

.button-reset{
	background-color: transparent;
	color: rgb(114, 114, 114);
}

.button-reset:hover, .button-reset:focus, .button-reset:active{
	color: rgb(169, 169, 169);
	outline-color: rgb(250, 185, 20);
}

/*------------------------------form------------------------------*/
label{
	display: block;
	font-weight: 600;
	text-transform: uppercase;
	color: rgb(114, 114, 114);
	margin: 0 0 0.1rem 0.1rem;
}

input[type=text], textarea, input[type=tel], input[type=email]{
	width: 100%;
	padding: 0.5rem 0.5rem;
	border: 1px solid rgb(169, 169, 169);
	transition: all 0.3s ease 0s;
}

/* textarea resize limit tutorial from http://qnimate.com/html-textarea-fixed-size/*/
textarea{
	height: 10rem;
	resize: vertical;
}

input[type=text]:focus, textarea:focus, input[type=tel]:focus, input[type=email]:focus{
	outline-color: rgb(199, 168, 134);
}

.form-entries-s, .form-entries-m, .form-entries-l{
	padding: 0 1rem 1rem 0;
}

form h2{
	margin: 2rem 0 0 0;
}

.return-btn{
	margin-top: 3.5rem;
	padding-left: 0;
}

.submit-btn{
	margin-top: 3rem;
	min-width: 20rem;
}

.form-radio{
	position: relative;
}

.form-radio input{
	position: absolute;
	top: 0.3rem;
	left: 0;
}

.form-radio label{
	padding-left: 1.5rem;
	font-weight: 400;
	text-transform: capitalize;
}

input[type=number]{
	width: 6rem;
	padding: 0.5rem 0;
	text-align: center;
	border: 1px solid rgb(169, 169, 169);
	transition: all 0.3s ease 0s;
}

input[type=number]:focus{
	outline-color: rgb(199, 168, 134);
}

/*------------------------------lists------------------------------*/
ul{
	list-style: none;
}

.bullet{
	list-style-type: circle;
}

ol li{
	margin-left: -0.5em;
}

/*------------------------------img------------------------------*/
img{
	height: auto;
	max-width: 100%;
}

/*------------------------------main nav------------------------------*/
/* touch-friendly sub navigation from https://w3bits.com/css-responsive-nav-menu/ */
nav a{
	color: rgb(61, 61, 61);
}

nav a:hover, nav a:focus, nav a:active{
	color: rgb(143, 107, 83);
}

#main-nav{
	border-bottom: 0.5px solid rgb(200, 200, 200);
	background-color: white;
	position: fixed;
	z-index: 29;
	top: 0;
	left: 0;
	right: 0;
	padding: 0rem 2rem;
}

.nav-logo, .nav-icon{
	cursor: pointer;
}

.main-nav-lv1, .main-nav-lv2{
	font-weight: 400;
	text-transform: capitalize;
	color: rgb(61, 61, 61);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.main-nav-lv1:hover, .main-nav-lv1:focus, .main-nav-lv1:active, .main-nav-lv2:hover, .main-nav-lv2:focus, .main-nav-lv2:active{
	color: rgb(143, 107, 83);
}

.main-nav-input{
	position: absolute;
	opacity: 0;
}

.main-nav-label{
	position: relative;
	display: flex;
	align-items: center;
}

.main-nav-label span{
	padding: 1.5rem 0;
}

.main-nav-sub{
	position: absolute;
	top: 4rem;
	left: 0;
	right: 0;
	background-color: rgb(222, 207, 184);
	padding: 1rem;
	display: none;
}

.main-nav-input:checked ~ .main-nav-sub{
	display: block;
}

.main-nav-section:hover > .main-nav-sub{
	display: block;
}

.sub-category{
	text-transform: uppercase;
	font-weight: 600;
	color: rgb(143, 107, 83);
	border-right: 2px solid rgb(199, 168, 134);
	margin: 0.5rem 0;
}

.main-nav-sub ul, .main-nav-sub-row{
	padding: 0;
}

/*------------------------------off-canvas nav------------------------------*/
/* off-canvas menu tutorial from https://css-tricks.com/off-canvas-menu-with-css-target/
	multi-level collapsible menu tutorial from https://codyhouse.co/gem/css-multi-level-accordion-menu */
#side-nav:target{
	width: 250px;
}

#side-nav{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 30;
	top: 0;
	left: 0;
	background-color: rgb(222, 207, 184);
	overflow-x: hidden;
	white-space: nowrap;
	transition: width 0.3s ease;
	padding-top: 4rem;
}

#side-nav ul{
	padding: 0 0 0 0;
}

.collapsible-menu{
	margin: 0.5rem 2rem 0.5rem 2rem;
}

.collapsible-label{
	position: relative;
	display: flex;
	align-items: center;
}

.collapsible-input{
	position: absolute;
	opacity: 0;
}

.collapsible-icon{
	position: absolute;
	right: 0;
}

.collapsible-sub{
	display: none;
}

#side-nav .collapsible-sub li{
	padding: 1rem 0 0 1rem;
}

.collapsible-input:checked ~ .collapsible-sub{
	display: block;
}

.collapsible-top{
	padding: 0.5rem;
	border-bottom: 0.5px solid rgb(199, 168, 134);
}

.collapsible-lv1{
	text-transform: capitalize;
}

.collapsible-lv1, .collapsible-lv2{
	color: rgb(143, 107, 83);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.collapsible-lv3{
	color: rgb(61, 61, 61);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

#side-nav label:hover, #side-nav label:active, #side-nav label:focus{
	color: rgb(199, 168, 134)
}

#side-nav a:hover, #side-nav a:focus, #side-nav a:active{
	color: rgb(143, 107, 83);
}

.close-btn{
	position: absolute;
	top: 1.5rem;
	left: 2rem;
	cursor: pointer;
}

/*------------------------breadcrumb navigation------------------------------*/
#breadcrumb-nav{
	padding: 3rem 10% 0 10%;
}

#breadcrumb-nav p{
	color: rgb(114, 114, 114);
}

#breadcrumb-nav a:first-of-type{
	padding-left: 0;
}

#breadcrumb-nav .breadcrumb-current{
	color: rgb(143, 107, 83);
}

#breadcrumb-nav a{
	padding-right: 0;
}

/*------------------------------footer------------------------------*/
.footer{
	margin: 0;
	padding: 1rem 1rem 1rem 2rem;
	border-top: 0.5px solid rgb(200, 200, 200);
}

.footer p{
	color: rgb(169, 169, 169);
	font-size: 0.8rem;
}

/*------------------------------event banner------------------------------*/
#event-banner{
	position: relative;
}

.event-banner-content{
	position: absolute;
	left: 10%;
	top: 20%;
}

.event-banner-content h1{
	font-size: 4rem;
    color: rgb(97, 56, 28);
    margin: 0 0 1rem 0;
}

.event-banner-content h3{
	color: rgb(114, 114, 114);
	margin: 0 0 0.5rem 0;
}

.event-banner-content ul{
	padding: 0;
	margin: 0 0 2rem 0;
}

.event-banner-content li{
    color: rgb(61, 61, 61);
    font-size: 1.2rem;
    display: inline-block;
}

/*------------------------------tea page banner------------------------------*/
#tea-page-banner{
	position: relative;
}

.tea-page-banner-content{
	position: absolute;
	left: 10%;
	bottom: 25%;
}

.tea-page-banner-content h1{
    color: rgb(97, 56, 28);
    margin: 0 0 1rem 0;
}

.tea-page-banner-content ul{
	padding: 0;
	margin: 0 0 2rem 0;
}

.tea-page-banner-content li{
    color: rgb(61, 61, 61);
    display: inline-block;
}
/*------------------------------page heading------------------------------*/
#page-heading{
	padding: 5rem 10% 0 10%;
}

#page-heading p{
	color: rgb(114, 114, 114);
	max-width: 40rem;
}

.page-heading-cart h1, .page-heading-order-success h1{
	display: inline-block;
	padding-right: 2rem;
}

.page-heading-cart h3, .page-heading-order-success h3{
	display: inline-block;
	color: rgb(114, 114, 114);
}

#page-heading-checkout{
	padding: 2rem 10%;
	margin: 0;
}

#page-heading .submit-btn{
	padding: 1rem 1.5rem;
	width: 18rem;
	min-width: 18rem;
}

/*------------------------------section title------------------------------*/
.section-heading{
	position: relative;
	margin: 0 10%;
}

.section-heading h2{
	padding-bottom: 0.5rem;
	border-bottom: 0.5px solid rgb(200, 200, 200);
	color: rgb(61, 61, 61);
}

.section-heading a{
	position: absolute;
	right: 0;
	top: 0.5rem;
	text-transform: uppercase;
	font-weight: 600;
}

/*------------------------------product listing------------------------------*/
.product-post{
	padding: 0.8rem;
	margin-bottom: 3rem;
}

.product-post:hover, .product-post:focus, .product-post:active{
	box-shadow: 0px 0px 1px rgb(169, 169, 169);
	cursor: pointer;
}

.product-type{
	color: rgb(143, 107, 83);
	margin: 0.5rem 0 0 0;
}

.product-name{
	color: rgb(61, 61, 61);
	margin: 0.5rem 0 0 0;
}

.product-rating p{
	display: inline-block;
	color: rgb(143, 107, 83);
}

.product-rating{
	margin: 0.5rem 0 0 0;
}

.product-price{
	color: rgb(114, 114, 114);
	margin: 1rem 0 0 0;
}

/*-----------------------------tea type------------------------------*/
.tea-type-post{
	padding: 0.8rem;
	margin-bottom: 1rem;
	position: relative;
}

.tea-type-post img{
	opacity: 0.8;
	transition: all 0.3s ease 0s;
}

.tea-type-post h2{
	margin: 0;
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	font-weight: 400;
	color: rgb(97, 56, 28);
	transition: all 0.3s ease 0s;
}

.tea-type-post:hover img, .tea-type-post:focus img, .tea-type-post:active img{
	opacity: 0.6;
}

.tea-type-post:hover h2, .tea-type-post:focus h2, .tea-type-post:active h2{
	color: rgb(143, 107, 83);
}


/*-------------------------tab gallery---------------------------*/
/* tab gallery tutorial from https://www.cssscript.com/simple-tab-gallery-with-pure-css-css3/ */
.product-img-container{
	width: 60%;
	position: relative;
}

.thumbnail-container li{
  width: 15%;
  padding: 0 1rem;
}

.thumbnail-container input[name="select"]{ 
	display: none; 
}

.thumbnail-container label{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.thumbnail-container label img{
	width: 100%;
	height: auto;
}

.thumbnail-container .main-image {
  position: absolute;
  top: -29rem;
  left: 0;
  padding: 0 2rem 0 0;
  opacity: 0;
  transition: all 0.3s linear;
}

.thumbnail-container input[name="select"]:checked + label {
  opacity: 0.5;
}

.thumbnail-container input[name="select"]:checked ~ .main-image { 
	opacity: 1; 
}

/*-------------------------product details---------------------------*/
.product-to-cart form h3{
	color: rgb(114, 114, 114);
	font-size: 0.8rem;
}

.product-to-cart form h3.form-entries-l{
	padding: 0;
}

.product-to-cart form p{
	font-size: 1.5rem;
	color: rgb(114, 114, 114);
}

.product-to-cart form button{
	width: 100%;
	margin-top: 1rem;
}

.size-opt input{
	display: none;
}

.size-opt label{
	border: 1px solid rgb(169, 169, 169);
	text-transform: none;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 1rem;
	font-weight: 300;
	padding: 0.8rem 0.5rem;
	cursor: pointer;
}

.size-opt input:checked + label{
	background-color: rgb(199, 168, 134);
	color: white;
	outline-color: rgb(61 61 61);
}

.product-to-cart form input[type=number]{
	width: 100%;
}

/*-------------------------product description---------------------------*/
.section-headers h3 {
    color: rgb(114, 114, 114);
    padding: 3rem 0.5rem 0.5rem 0;
}

.section-headers{ 
	width: 100%;
	border-top: 0.5px solid rgb(200, 200, 200);
}

.prod-characteristics ul{
	padding: 0 0 1rem 0;
}

.prod-characteristics ul:last-of-type{
	padding: 0;
}

.prod-characteristics li{
	display: inline-block;
}

.prod-characteristics ul h3{
	padding: 0;
	margin: 0;
	color: rgb(169, 169, 169);
	width: 5rem;
}

/*-------------------------product how to---------------------------*/
#product-how-to figure{
	display: inline-block;
	text-align: center;
}




.reviews-summary{
	/*border-right: 0.5px solid rgb(200, 200, 200);*/
	padding: 0 2rem 0 0;
	min-width: 15rem;
}

.user-reviews h3{
	padding: 0rem 0rem 0 3rem; 
	display: inline-block;
}

.user-reviews h2{
	font-size: 0.9rem;
	padding: 1rem 0 0 1rem; 
	font-weight: 400;
	display: inline-block;
}

.user-reviews-stars{
	padding: 0 0 0 3rem; 
}

.user-reviews-stars h2{
	display: inline-block;
	padding: 0 0 0 1rem; 
}

.user-reviews-stars p{
	padding: 0 0 2rem 0; 
	border-bottom: 0.5px solid rgb(200, 200, 200);
}

.review-section{
		border-left: 0.5px solid rgb(200, 200, 200);
		padding: 0 0 0 1rem; 
		margin-top: 5rem;
}

/*------------------------------review------------------------------*/
.review-post{
	padding: 2rem 1rem;
	border-bottom: 0.5px solid rgb(169, 169, 169);
}

.review-post:last-of-type{
	border-bottom: none;
}

.review-name{
	color: rgb(114, 114, 114);
}

.review-purchase{
	color: rgb(169, 169, 169);
}

.review-time{
	color: rgb(169, 169, 169);
}

.review-title{
	display: inline-block;
	margin: 0.8rem 1rem;
	color: rgb(143, 107, 83);
	font-weight: 400;
}

.review-rating img{
	width: 1.5rem;
}

.review-content{
	color: rgb(61, 61, 61);
}

/*------------------------------filter------------------------------*/
#filter{
	padding: 0 1rem 0 5rem;
	max-width: 15rem;
	background-color: white;
}

#filter .filter-category{
	color: rgb(114, 114, 114);
	border-bottom: 0.5px solid rgb(114, 114, 114);
	margin: 1rem 0 1rem 0;
}

#filter h3{
	color: rgb(169, 169, 169);
	margin: 1rem 0 0 0;
}

#filter ul{
	padding: 0;
}

#filter a{
	color: rgb(114, 114, 114);
}

#filter a:hover, #filter a:focus, #filter a:active{
	color: rgb(143, 107, 83);
}

.filter-close, .filter-btn{
	display: none;
}

.filter-btn{
	padding: 0.5rem 2rem;
	border: 0.5px solid rgb(143, 107, 83);
	position: absolute;
	top: -3rem;
	left: 8%;
}

.filter-btn:hover, .filter-btn:focus, .filter-btn:active{
	border: 0.5px solid rgb(199, 168, 134);
}

/*----------------------------contact------------------------------*/
.customer-service{
	border-left: 0.5px solid rgb(200, 200, 200);
	padding: 0 0 0 2rem;
	min-width: 15rem;
}

.customer-service h2{
	margin-top: 0;
}

.customer-service ul{
	padding: 0;
}

.customer-service p, .customer-service li{
	color: rgb(114, 114, 114);
}

.contact-info{
	position: relative;
	padding: 0 0 1rem 2rem;
}

.contact-info img{
	position: absolute;
	top: 0;
	left: 0;
}

/*----------------------------about page---------------------------*/
.about-banner{
	position: relative;
}

.about-content{
	position: absolute;
}

.about-content h1, .about-content h2{
	color: rgb(97, 56, 28);
}

.about-content p{
	max-width: 25rem;
	color: rgb(61, 61, 61);
}

.about-section-1{
	top: 25%;
	left: 35%;
}

.about-section-2{
	top: 25%;
	left: 15%;
}

.about-section-3{
	top: 20%;
	right: 15%;
}

/*-----------------------------cart-------------------------------*/
.cart-product-list h2, .cart-product-list h3{
	margin: 0;
}

.cart-product-list h2{
	color: rgb(61, 61, 61);
}

.cart-product{
	padding: 1rem 0;
}

.cart-product h3{
	color: rgb(143, 107, 83);
}

.cart-product p{
	color: rgb(114, 114, 114);
	margin-top: 0.5rem;
}

.cart-product-name{
	padding-left: 1rem;
}

.cart-product label{
	display: none;
}

.cart-category h3{
	color: rgb(114, 114, 114);
	border-bottom: 0.5px solid rgb(200, 200, 200);
	padding: 0 0.5rem 0.5rem 0.5rem; 
}

.cart-total h2{
	text-align: right;
	border-top: 0.5px solid rgb(200, 200, 200);
	padding-top: 1rem;
}

.cart-mobile{
	display: none;
}

.cart-product-quantity p{
	padding: 0.5rem 2.5rem;
}

.cart-mobile p{
	padding: 0 0 0.5rem 0;
}

/*----------------------------summary------------------------------*/
.summary{
	border-left: 0.5px solid rgb(200, 200, 200);
	padding: 0 0 0 2rem;
	min-width: 15rem;
}

.summary h3{
	border-bottom: 0.5px solid rgb(200, 200, 200);
	margin: 0;
	padding-bottom: 0.5rem;
	color: rgb(114, 114, 114);
}

.summary-content h6{
	margin: 0;
	color: rgb(61, 61, 61);
}

.summary-content p{
	color: rgb(114, 114, 114);
}

.summary-content h2{
	margin: 0;
	color: rgb(61, 61, 61);
}

.summary-content h5{
	margin: 0;
	color: rgb(143, 107, 83);
}

.summary-total{
	border-top: 0.5px solid rgb(200, 200, 200);
}

/*------------------------------color------------------------------*/
.primary-dark{
	background-color: rgb(97, 56, 28);
}

.primary-mid{
	background-color: rgb(143, 107, 83);
}

.primary-light{
	background-color: rgb(199, 168, 134);
}

.grey-dark{
	background-color: rgb(61, 61, 61);
}

.grey-mid{
	background-color: rgb(114, 114, 114);
}

.grey-light{
	background-color: rgb(169, 169, 169);
}