html{
	font-family: 'Open Sans', sans-serif;
}

header{
	margin: 0 0 4rem 0;
	border-bottom: 0.5px solid rgb(200, 200, 200);
}

.content{
	position: absolute;
	top: 4rem;
}

section{
	margin-bottom: 5rem;
}

/*------------------------------text------------------------------*/
h1, h2, h6{
	font-family: 'Raleway', sans-serif;
}

h1{
	font-size: 2rem;
}

h2{
	font-size: 1.5rem;
	font-weight: 300;
}

h3{
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

h4{
	font-size: 2rem;
	font-weight: 600;
}

h5{
	font-size: 1.5rem;
}

h6{
	font-size: 1rem;
}

p, ol, ul{
	font-size: 1rem;
	margin: 0;
}

/*------------------------------link------------------------------*/
a{
	color: rgb(143, 107, 83);
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

a:hover, a:active, a:focus{
	color: rgb(199, 168, 134);
}

/*------------------------------button using a------------------------------*/
.button-cta{
	background-color: white;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5rem 2rem;
	border: 0.5px solid rgb(143, 107, 83);
}

.button-cta:hover, .button-cta:active, .button-cta:focus{
	border: 0.5px solid rgb(199, 168, 134);
}

/*------------------------------button------------------------------*/
button{
	border: none;
	font-weight: 600;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.button-submit{
	background-color: rgb(143, 107, 83);
	color: white;
	padding: 1rem 0;
	width: 50%;
}

.button-submit:hover, .button-submit:focus, .button-submit:active{
	background-color: rgb(199, 168, 134);
	outline-color: rgb(250, 185, 20);
}

/*newly added for contact page*/
.form-button{
	width: 14rem;
}

.button-reset{
	background-color: transparent;
	color: rgb(114, 114, 114);
}

.button-reset:hover, .button-reset:focus, .button-reset:active{
	color: rgb(169, 169, 169);
	outline-color: rgb(250, 185, 20);
}

/*------------------------------form------------------------------*/
label{
	display: block;
	font-weight: 600;
	text-transform: uppercase;
	color: rgb(114, 114, 114);
	margin: 0 0 0.1rem 0.1rem;
}

input[type=text]{
	width: 100%;
	padding: 0.5rem 0.5rem;
	border: 1px solid rgb(169, 169, 169);
	transition: all 0.3s ease 0s;
}

input[type=text]:focus{
	outline-color: rgb(199, 168, 134);
}

/*newly added*/
.form-info-row{
	display: flex;
	flex-direction: row;
	margin-left: 8.2rem;
	margin-bottom: 3rem;
}

/*tutorial on moving submit button to the right from https://www.w3schools.com/cssref/css3_pr_justify-content.asp?fbclid=IwAR0bIbteGyCPw0sIyw3WsRaYBoaCu15mpPrWLZYl9i8gHuDk0DxEsdzMqX8*/
.form-info-submit{
	justify-content:flex-end;
	margin-right: 4.1%;
}

textarea{
	font-size: 1.2rem;
    margin-bottom: 1rem;
  	padding: 0.5rem 0.5rem;
  	height: 15rem;
  	/* textarea resize limit tutorial from http://qnimate.com/html-textarea-fixed-size/*/
  	resize: vertical;
}

.form-entries{
	display: flex;
	flex-direction: column;
	margin-right: 2rem;
}

.form-entries-email{
	width: 62.8%;
}

.form-entries-subject{
	width: 100%;
}

.form-entries-message{
	width: 100%;
}

/*------------------------------lists------------------------------*/

ul{
	list-style: none;
}

.bullet{
	list-style-type: circle;
}

ol li{
	margin-left: -0.5em;
}

/*------------------------------img------------------------------*/
img{
	height: auto;
	max-width: 100%;
}

/*------------------------------main nav------------------------------*/
/* touch-friendly sub navigation from https://w3bits.com/css-responsive-nav-menu/ */
nav a{
	color: rgb(61, 61, 61);
}

nav a:hover, nav a:focus, nav a:active{
	color: rgb(143, 107, 83);
}

#main-nav{
	border-bottom: 0.5px solid rgb(200, 200, 200);
	background-color: white;
	position: fixed;
	z-index: 29;
	top: 0;
	left: 0;
	right: 0;
	padding: 0rem 2rem;
}

.nav-logo, .nav-icon{
	cursor: pointer;
}

.main-nav-lv1, .main-nav-lv2{
	font-weight: 400;
	text-transform: capitalize;
	color: rgb(61, 61, 61);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.main-nav-lv1:hover, .main-nav-lv1:focus, .main-nav-lv1:active, .main-nav-lv2:hover, .main-nav-lv2:focus, .main-nav-lv2:active{
	color: rgb(143, 107, 83);
}

.main-nav-input{
	position: absolute;
	opacity: 0;
}

.main-nav-label{
	position: relative;
	display: flex;
	align-items: center;
}

.main-nav-label span{
	padding: 1.5rem 0;
}

.main-nav-sub{
	position: absolute;
	top: 4rem;
	left: 0;
	right: 0;
	background-color: rgb(222, 207, 184);
	padding: 1rem;
	display: none;
}

.main-nav-input:checked ~ .main-nav-sub{
	display: block;
}

.main-nav-section:hover > .main-nav-sub{
	display: block;
}

.sub-category{
	text-transform: uppercase;
	font-weight: 600;
	color: rgb(143, 107, 83);
	border-right: 2px solid rgb(199, 168, 134);
	margin: 0.5rem 0;
}

.main-nav-sub ul, .main-nav-sub-row{
	padding: 0;
}

/*------------------------------off-canvas nav------------------------------*/
/* off-canvas menu tutorial from https://css-tricks.com/off-canvas-menu-with-css-target/
	multi-level collapsible menu tutorial from https://codyhouse.co/gem/css-multi-level-accordion-menu */
#side-nav:target{
	width: 250px;
}

#side-nav{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 30;
	top: 0;
	left: 0;
	background-color: rgb(222, 207, 184);
	overflow-x: hidden;
	white-space: nowrap;
	transition: width 0.3s ease;
	padding-top: 4rem;
}

#side-nav ul{
	padding: 0 0 0 0;
}

.collapsible-menu{
	margin: 0.5rem 2rem 0.5rem 2rem;
}

.collapsible-label{
	position: relative;
	display: flex;
	align-items: center;
}

.collapsible-input{
	position: absolute;
	opacity: 0;
}

.collapsible-icon{
	position: absolute;
	right: 0;
}

.collapsible-sub{
	display: none;
}

#side-nav .collapsible-sub li{
	padding: 1rem 0 0 1rem;
}

.collapsible-input:checked ~ .collapsible-sub{
	display: block;
}

.collapsible-top{
	padding: 0.5rem;
	border-bottom: 0.5px solid rgb(199, 168, 134);
}

.collapsible-lv1{
	text-transform: capitalize;
}

.collapsible-lv1, .collapsible-lv2{
	color: rgb(143, 107, 83);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.collapsible-lv3{
	color: rgb(61, 61, 61);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

#side-nav label:hover, #side-nav label:active, #side-nav label:focus{
	color: rgb(199, 168, 134)
}

#side-nav a:hover, #side-nav a:focus, #side-nav a:active{
	color: rgb(143, 107, 83);
}

.close-btn{
	position: absolute;
	top: 1.5rem;
	left: 2rem;
	cursor: pointer;
}

/*------------------------------footer------------------------------*/
.footer{
	margin: 0;
	padding: 1rem 1rem 1rem 2rem;
	border-top: 0.5px solid rgb(200, 200, 200);
}

.footer p{
	color: rgb(169, 169, 169);
	font-size: 0.8rem;
}

/*footer for contact page*/
.contact-footer{
	width:183%;
}

/*------------------------------event banner------------------------------*/
#event-banner{
	position: relative;
}

.event-banner-content{
	position: absolute;
	left: 10%;
	top: 20%;
}

.event-banner-content h1{
	font-size: 4rem;
    color: rgb(97, 56, 28);
    margin: 0 0 1rem 0;
}

.event-banner-content h3{
	color: rgb(114, 114, 114);
	margin: 0 0 0.5rem 0;
}

.event-banner-content ul{
	padding: 0;
	margin: 0 0 2rem 0;
}

.event-banner-content li{
    color: rgb(61, 61, 61);
    font-size: 1.2rem;
    display: inline-block;
}

/*------------------------------tea page banner------------------------------*/
#tea-page-banner{
	position: relative;
}

.tea-page-banner-content{
	position: absolute;
	left: 10%;
	bottom: 25%;
}

.tea-page-banner-content h1{
    color: rgb(97, 56, 28);
    margin: 0 0 1rem 0;
}

.tea-page-banner-content ul{
	padding: 0;
	margin: 0 0 2rem 0;
}

.tea-page-banner-content li{
    color: rgb(61, 61, 61);
    display: inline-block;
}


/*------------------------------section title------------------------------*/
.section-heading{
	position: relative;
	margin: 0 10%;
}

.section-heading h2{
	padding-bottom: 0.5rem;
	border-bottom: 0.5px solid rgb(200, 200, 200);
	color: rgb(61, 61, 61);
}

.section-heading a{
	position: absolute;
	right: 0;
	top: 0.5rem;
	text-transform: uppercase;
	font-weight: 600;
}

/*------------------------------page title------------------------------*/
.page-heading{
	position: relative;
	margin: 10% 9.1% 0;
}

.page-heading h2{
	padding-bottom: 3rem;
	color: rgb(61, 61, 61);
}

/*------------------------------product listing------------------------------*/
.product-post{
	padding: 0.8rem;
	margin-bottom: 3rem;
}

.product-post:hover, .product-post:focus, .product-post:active{
	box-shadow: 0px 0px 1px rgb(169, 169, 169);
	cursor: pointer;
}

.product-type{
	color: rgb(143, 107, 83);
	margin: 0.5rem 0 0 0;
}

.product-name{
	color: rgb(61, 61, 61);
	margin: 0.5rem 0 0 0;
}

.product-rating p{
	display: inline-block;
	color: rgb(143, 107, 83);
}

.product-rating{
	margin: 0.5rem 0 0 0;
}

.product-price{
	color: rgb(114, 114, 114);
	margin: 1rem 0 0 0;
}

/*-----------------------------tea type------------------------------*/
.tea-type-post{
	padding: 0.8rem;
	margin-bottom: 1rem;
	position: relative;
}

.tea-type-post img{
	opacity: 0.8;
	transition: all 0.3s ease 0s;
}

.tea-type-post h2{
	margin: 0;
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	font-weight: 400;
	color: rgb(97, 56, 28);
	transition: all 0.3s ease 0s;
}

.tea-type-post:hover img, .tea-type-post:focus img, .tea-type-post:active img{
	opacity: 0.6;
}

.tea-type-post:hover h2, .tea-type-post:focus h2, .tea-type-post:active h2{
	color: rgb(143, 107, 83);
}

/*------------------------------review------------------------------*/
.review-post{
	padding: 2rem 1rem;
	border-bottom: 0.5px solid rgb(169, 169, 169);
}

.review-post:last-of-type{
	border-bottom: none;
}

.review-name{
	color: rgb(114, 114, 114);
}

.review-purchase{
	color: rgb(169, 169, 169);
}

.review-time{
	color: rgb(169, 169, 169);
}

.review-title{
	display: inline-block;
	margin: 0.8rem 1rem;
	color: rgb(143, 107, 83);
	font-weight: 400;
}

.review-rating img{
	width: 1.5rem;
}

.review-content{
	color: rgb(61, 61, 61);
}

/*------------------------------filter------------------------------*/
#filter{
	padding: 0 1rem 0 5rem;
	max-width: 15rem;
	background-color: white;
}

#filter .filter-category{
	color: rgb(114, 114, 114);
	border-bottom: 0.5px solid rgb(114, 114, 114);
	margin: 1rem 0 1rem 0;
}

#filter h3{
	color: rgb(169, 169, 169);
	margin: 1rem 0 0 0;
}

#filter ul{
	padding: 0;
}

#filter a{
	color: rgb(114, 114, 114);
}
/*------------------------customer service-------------------------*/

.customer-service{
	position: absolute;
	border-left: 0.5px solid rgb(200, 200, 200);
	height: 72.7%;
	top:9rem;
	left: 108%;
	padding: 0rem 1rem; 
	width: 50%;
}

.customer-service-font-size{
	font-size: 1.3rem;
	margin-top: -1.3rem;
}


.contact-info{
margin-left: 6rem;
}

.contact-info-font{
padding-bottom: 0.5rem;
color: rgb(114 114 114);
}

.contact-info-row{
margin-bottom: 3rem;
}

.contact-info-img{
	position: absolute;
	margin-left: -2.3rem;
}

/*----------------------------about page---------------------------*/

.about-page{
	position: relative;
	margin-bottom:0;
} 

.about-info-left{
	position: absolute; 
	right: auto;
	width:50%;  
	left: 0;
	height:100%; 
	bottom:0; 
	padding-top:5%;
}

.about-info-right{
	position: absolute; 
	left:auto; 
	width:50%;  
	right:0; 
	height:100%; 
	bottom:0; 
	padding-top:5%;
}

.about-info-bg{
	background-color: white; 
	bottom:0; 
	height:100%; 
}

.about-section-content{
	position: absolute;
	left: 10%;
	bottom: 25%;
	top: 2%;
}

.about-description-size{
	font-size: 0.9rem;
	margin-left: 0;
}

#filter a:hover, #filter a:focus, #filter a:active{
	color: rgb(143, 107, 83);
}

.filter-close, .filter-btn{
	display: none;
}

.filter-btn{
	padding: 0.5rem 2rem;
	border: 0.5px solid rgb(143, 107, 83);
	position: absolute;
	top: -3rem;
	left: 8%;
}

.filter-btn:hover, .filter-btn:focus, .filter-btn:active{
	border: 0.5px solid rgb(199, 168, 134);
}

/*------------------------------color------------------------------*/

.primary-dark{
	background-color: rgb(97, 56, 28);
}

.primary-mid{
	background-color: rgb(143, 107, 83);
}

.primary-light{
	background-color: rgb(199, 168, 134);
}

.grey-dark{
	background-color: rgb(61, 61, 61);
}

.grey-mid{
	background-color: rgb(114, 114, 114);
}

.grey-light{
	background-color: rgb(169, 169, 169);
}