*, *::after, *::before{
	box-sizing: border-box;
}

.container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-wrap: -webkit-flex;
	flex-wrap: -ms-flex;
	flex-wrap: wrap;

	justify-content: space-around;
}

/*navbar tutorial from https://www.youtube.com/watch?v=PwWHL3RyQgk*/
.nav-container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-wrap: -webkit-flex;
	flex-wrap: -ms-flex;
	flex-wrap: wrap;

	justify-content: space-between;
	align-items: center;
	padding: 1rem 3%;
}

.nav-component-mobile{
	display: none;
}

.nav-logo{
	max-width: 10rem;
	flex: 1 1 auto;
}

.nav-page{
	flex: 10 1 auto;
}

nav li{
	display: inline-block;
	padding: 0 1rem;
}

.nav-icon{
	margin-left: 2rem;
	max-width: 1.5rem;
}

/*product listing*/
.product-post{
	flex: 1 1 auto;
	max-width: 16rem;
}

/*review*/
.review-post-top{
	display: flex;
	align-items: baseline;
}

.review-name{
	flex: 1 1 auto;
}

.review-purchase{
	flex: 20 1 auto;
}

.review-time{
	flex: 1 1 auto;
}

/*grid*/
.layout-full{
	width: 100%;
}

.layout-product-grid{
	flex: 0 0 auto;
}

.layout-major{
	flex: 8 0 auto;
}

.layout-minor{
	flex: 4 0 auto;
}

.layout-sidebar-major{
	flex: 11 0 auto;
}

.layout-sidebar-minor{
	flex: 1 0 auto;
}

/*review summary*/
.review-bar-container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0;
}


@media (max-width: 58em){
	/*navigation*/
	.nav-container{
		padding: 1rem 5%;
	}

	.nav-icon{
	margin: 0;
	}

	.nav-component-mobile{
		display: inline-block;
		flex: 1 1 auto;
	}

	.nav-component-web{
		display: none;
	}

	header{
		flex-flow: column wrap;
	}
}

@media (max-width: 45em) {
	
	h1{
		font-size: 1.5rem;
	}

	h2{
		font-size: 1.2rem;
		font-weight: 400;
	}

	h3, p, ul, ol, a, button, label, input{
		font-size: 0.8rem;
	}

	.product-post, .layout-product-grid{
		max-width: 10rem;
		min-width: 0;
		margin-bottom: 2rem;
	}

	.product-rating{
		display: flex;
		align-items: center;
	}

	.product-rating p{
		padding: 0.1rem 0 0 0.2rem;
	}

	.review-name{
		margin: 0.5rem 0;
	}

	.review-rating img{
		width: 1rem;
	}

	.review-title{
		margin: 0.5rem;
	}
}

@media (max-width: 30em){
	html{
		margin: 0 5%;
	}

	header ul{
		padding-left: 0;
	}

	.pattern{
		margin: 0;
	}
}

/*------------------styling for the guide-----------------*/
/*top navigation*/
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2%;
}

.pattern-code{
	flex: 1 1 15rem;
}

.swatch-block{
	flex: 1 1 15rem;
}